body {
    background: #464649;
}

.section {
    height: 1000vh;
    min-height: 350px;
    width: 100%;
    padding: 25px;
    overflow: scroll;
}

.container {
    margin: 0 auto;
    height: 100%;
    position: relative;
    z-index: 1;
}

.content {
    height: 100%;
    font-family: "Arial", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    text-transform: none;
    line-height: 150%;
}

.rectangle {
    background: #fff;
    min-height: 100px;
    border-radius: 10px;
    position: fixed;
    top: auto;
    right: 50px;
    bottom: 100px;
    left: 50vh;
}

.circle{
    background-color: red;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: fixed;
    top: auto;
    right: 50px;
    bottom: 146px;
    left: 60vh;
}